@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    /* border: 1px solid black; */
    /* box-sizing: border-box; */
    /* width: 100%; */
}

body{ 
    width: 100%;
}
