
.todo_inputs {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 30pt;
    height: auto;
}

.text_input {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 25pt;
    border-radius: 2px;
    border: none;
    padding: 10pt 10pt;
    background: rgb(39, 38, 38);
    border-bottom: 1.5pt solid white;
    color: white;
    font-size: 12pt;
}

.text_input:focus {
    outline: none;
}

.btn_input {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 25pt;
    width: 40pt;
    font-size: 12pt;
    font-weight: bold;
    border: none;
}

.btn_input:hover {
    cursor: pointer;
    background-color: black;
    color: white;
}