.Child_icon {
    position: absolute;
    z-index: -1; 
    bottom: 97px;
    opacity: 0;
    transition: 0.4s ease;
}

.t_parent:hover {
    .Child_icon {
        z-index: 1;
        bottom: 110px;
        opacity: 1;
    }
}